<footer class="site-footer">
    <div class="container">
        <p>&copy; 2025 GreenEarth Environmental Consultancy. All rights reserved.</p>
        <p>Email: info@greenearth.co.ke | Phone: +254 712 345 678</p>
        <p>Developed by @Joseph Mbugua</p>
        <p>Follow us on social media:</p>
        <a href="https://www.facebook.com/greenearthconsultancy" target="_blank">Facebook</a>
        <a href="https://www.twitter.com/greenearthconsult" target="_blank">Twitter</a>
        <a href="https://www.instagram.com/greenearthconsult" target="_blank">Instagram</a>
    </div>
</footer>