<footer class="site-footer">
  <div class="container">
    <p>&copy; <span id="currentYear"></span> BIONIX-EHS Environmental Consultancy. All rights reserved.</p>

    <p>
      Email: <a href="mailto:info@bionixehs.co.ke">info@bionixehs.co.ke</a> |
      Phone: <a href="tel:+254117835225">+254 117 835 225` </a>
    </p>

    <div class="footer-socials">
      <a href="https://facebook.com/mbugua.amato.5/" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook fa-lg"></i>
      </a>
      <a href="https://x.com/ke_mbugua" target="_blank" aria-label="Twitter">
        <i class="fab fa-twitter fa-lg"></i>
      </a>
      <a href="https://www.linkedin.com/in/mbuguag/" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin fa-lg"></i>
      </a>
      <a href="https://wa.me/+254 117 835 225" class="whatsapp-fab" target="_blank" aria-label="Chat on WhatsApp">
  <i class="fab fa-whatsapp"></i>
</a>

    </div>
  </div>

  <script>
    document.getElementById("currentYear").textContent = new Date().getFullYear();
  </script>
</footer>
