<header class="site-header">
    <div class="container">
        <h2 class="logo">Ecoviron</h2>
        <nav class="nav-menu">
            <a href="/frontend/index.html">Home</a>
            <a href="/frontend/about.html">About</a>
            <a href="/frontend/services/services.html">Services</a>
            <a href="/frontend/blog/blog.html">Blog</a>
            <li class="dropdown">
                <a href="#">E-commerce </a>
                <ul class="dropdown-menu">
                    <li><a href="/Frontend/">Shop</a></li>
                    <li><a href="../ecommerce/cart.html">Cart</a></li>
                </ul>
            </li>
            <a href="/frontend/contact.html">Contact</a>
        </nav>
    </div>
</header>