<header class="site-header">
    <div class="container">
        <h2 class="logo">Ecoviron</h2>
        <nav class="nav-menu">
            <a href="/frontend/index.html">Home</a>
            <a href="/frontend/about.html">About</a>
            <a href="/frontend/services/services.html">Services</a>

            <div class="dropdown">
                <a href="/frontend/ecommerce/product-deta.html">Products ▾</a>
                <div class="dropdown-content">
                    <a href="/frontend/ecommerce/product-grid.html">Shop</a>
                    <a href="/frontend/ecommerce/cart.html">Cart</a>
                </div>
            </div>

            <a href="/frontend/blog/blog.html">Blog</a>
            <a href="/frontend/contact.html">Contact</a>
        </nav>
    </div>
</header>